<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>主页datagrid</title>

    <meta name="keywords" content="接口管理系统">
    <meta name="description" content="接口管理系统是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，它采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="../../images/favicon.ico">
    <!-- css 引入 -->
    <link href="../../css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="../../css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="../../css/animate.min.css" rel="stylesheet">
    <link href="../../css/style.min.css?v=4.1.0" rel="stylesheet">
    
    <!-- easyui css -->
	<link href="../../libs/easyui/jquery-easyui-1.4.5/themes/gray/easyui.css" rel="stylesheet"/>
	<link href="../../libs/easyui/jquery-easyui-1.4.5/themes/icon.css" rel="stylesheet"/>
	<link href="../../iconfonts/iconfont.css" rel="stylesheet"/>
	
	<!-- user defind css -->
	<link href="../../css/expand-style.css" rel="stylesheet"/>
</head>


<body class="gray-bg">
    <div class="wrapper wrapper-content wrapper-wh content-padding">
        <div class="wrapper-wh">
        	<!--列表功能菜单toolbar start -->
			<div id="index-toolbar" class="datagrid-toolbar new">
				  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="selectGoods();">商品选择</a>
				  <span class="toolbar-item dialog-tool-separator"></span>
				  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="delGoods();">删除</a>
			</div>
			<table id="index-datagrid"></table>
			<span id="index-operator"> 
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="delLineHandel();">删除</a>
			</span>
        </div>
    </div>
    <!-- js 引入 -->
    <script src="../../libs/jquery.min.js?v=2.1.4" type="text/javascript"></script>
    <script src="../../libs/bootstrap.min.js?v=3.3.6" type="text/javascript"></script>
    <!-- 左侧菜单 -->
    <script src="../../libs/plugins/metisMenu/jquery.metisMenu.js" type="text/javascript"></script>
    <!-- 滚动条 -->
    <script src="../../libs/plugins/slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- 右侧tabs菜单 -->
    <script src="../../js/common/hplus.min.js?v=4.1.0"></script>
    <script src="../../js/common/contabs.min.js" type="text/javascript"></script>
    
    
    <!-- easyui js -->
	<script src="../../libs/easyui/jquery-easyui-1.4.5/jquery.easyui.min.js" type="text/javascript"></script>
	<script src="../../libs/easyui/jquery-easyui-1.4.5/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
	
	<!--my97DatePicker-->
	<script src="../../libs/my97DatePicker/wdatePicker.js"></script>
	
	<!-- easyui combox.js 扩展 -->
	<script src="../../js/common/combox.js" type="text/javascript"></script>
	<script src="../../js/common/common.js" type="text/javascript"></script>
	<script src="../../js/common/easyui-extend.js" type="text/javascript"></script>
	<!-- 页面操作js -->
	<script src="../../js/list/index5.js" type="text/javascript"></script>
</body>
</html>
