<div class="wrapper">
	<div class="ibox-content">
		<span>公式计算范围:</span>
		<label class="radio-inline">
		    <input class="ub" type="radio" name="selectradio" checked="checked" value="all"/><span>所有行</span>
		</label>
		<label class="radio-inline">
		    <input class="ub" type="radio" name="selectradio" value="select"/><span>选择行</span>
		</label>
	</div>
	<div class="ibox-content">
		<span>单价:</span>
		<input class="uinp text-right" type="text" value="0" id="inputPrice" onkeyup="if(this.value==this.value2)return;if(this.value.search(/^\d*(?:\.\d*)?$/)==-1)this.value=(this.value2)?this.value2:'';else this.value2=this.value;" onafterpaste="if(this.value==this.value2)return;if(this.value.search(/^\d*(?:\.\d*)?$/)==-1)this.value=(this.value2)?this.value2:'';else this.value2=this.value;">
	</div>
</div>
<!-- 页面操作js -->
<script src="../../js/list/modify-dialog.js" type="text/javascript"></script>

